# Python Introduction Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

## Exercise 1

What is 7 to the power of 4?

In [1]:
s = 'Hi there Sam!'
s.split()

2401

## Exercise 2

Split this string:

    s = "Hi there Sam!"
    
into a list.

**Hint:**

Use `s.split()` for splitting a string `s` into a list.

In [1]:
s = 'Hi there Sam!'
s.split()

['Hi', 'there', 'Sam!']

## Exercise 3

Given this nested list, use indexing to grab the word "hello"

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

'hello'

## Exercise 4

With a given tuple `(1,2,3,4,5,6,7,8,9,10)`, write a program to print the first half values in one line and the last half values in one line. 

**Hints:**

Use `[n1:n2]` notation to get a slice from a tuple.

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

## Exercise 5

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

**Hints:**

* Consider using `for range(#begin, #end)` for looping of the numbers between `#begin` and `#end`.
* Use`','.join(lst)` for conveting a list in a comma-separated sequence.
* Use `list.append()` to add values into a list.

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

## Exercise 6

Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

**Hints:**

- Use `**` operator to get power of a number.
- Use `range()` for loops.
- Use `list.append()` to add values into a list.
- Use `[n1:n2]` to slice a list.

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

## Exercise 7

Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No". 

**Hints:**

Use `if/else` statement to judge condition.

 yes

Yes

## Exercise 8

With a given list `[12,24,35,24,88,120,155,88,120,155]`, write a program to print this list after removing all duplicate values with original order reserved.

**Hints:**

Use `set()` to transform a list in a set which removes all duplicates. I.e.,

``` python
print(set([1,2,3,1]))
```

outputs `{1,2,3}`, which is a set.

[12, 24, 35, 88, 120, 155]

## Exercise 9

Write a program to generate and print another tuple whose values are even numbers in the given tuple `(1,2,3,4,5,6,7,8,9,10)`.

**Hint:**

* Use `for el in tp:` to iterate over all elements of tuple `tp`
* Use `tuple()` to generate a tuple from a list.

(2, 4, 6, 8, 10)

## Exercise 10

Write a program that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

**Hints:**

* Use `n = int(input())` for casting (transforming) an input value (which is a string) to an integer.
* Use `%` operator to check if a number is even or odd.

 3

It is an odd number